body {
  font-family: Arial;
  text-align: center;
  background: #f4f6f8;
}

button {
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
}

.card {
  background: white;
  padding: 15px;
  margin: 15px auto;
  width: 300px;
  border-radius: 8px;
}

.hidden {
  display: none;
}

input, textarea, select {
  width: 90%;
  padding: 8px;
  margin: 6px;
}

#map {
  height: 500px;
  width: 95%;
  margin: auto;
}
